.study, .club, .etc{
    display: flex;
}

.study h2, .club h2, .etc h2{
    border-right: dashed white;
    margin: 0;
    padding: 10px;
}

.study_2 p, .club_2 p, .etc_2 p{
    font-size: 2vw;
    text-align: center;
}

.study_2, .club_2, .etc_2{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
}

.main_grid{
    display: flex;
    justify-content: space-evenly;
}

.main_grid h2{
    writing-mode: none;
    text-align: center;
}
.main_grid h2{
    font-size: 3vw;
}

#menu{
    font-weight:900;
    font-size: 30px;
    margin: 0;

}

@media(max-width:900px) {
    .main_grid{
        display: block;
        justify-content: space-evenly;
    }
    .study, .club, .etc{
        display: grid;
        grid-template-columns: 50% 1fr;
        margin-bottom: 30px;
    }
    .main_grid h2{
        display: flex;
        justify-content: center;
    }
    .study_2, .club_2, .etc_2{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media(max-width:1000px) {
    .main_grid h2{
        font-size: 30px;
    }
    .study_2 p, .club_2 p, .etc_2 p{
        font-size: 18px;
        text-align: center;
    }
}