<!-- sign_in.html -->
{% extends "base.html" %}
{% block title %}Title - SignIn{% endblock %}
{% block content %}
<form method="POST">
    <h2 align="center">Sign In</h2>
    <div class="mb-3">
      <label for="InputEmail1" class="form-label">이메일</label>
      <input name="email" type="email" class="form-control" id="InputEmail1">
    </div>

    <div class="mb-3">
      <label for="InputPassword1" class="form-label">비밀번호</label>
      <input name="password1" type="password" class="form-control" id="InputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
{% endblock %}