html{
    background-color: #d0bdf2;
    height: 927px;
}
body{
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    color: rgb(140, 45, 225);
    background-color: rgb(245, 230, 245);
}
#setup_button{
    position: relative;
    z-index: 11;
    background-color: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 2px;
    left: 2px;
}
.setup{
    position: relative;
    z-index: 11;
    border: rgb(105, 20, 180) solid 2px;
    border-radius: 30px;
    border-top-left-radius: 0;
    position: absolute;
    left: 36px;
    top: 33px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.755);
    padding-bottom: 18px;
    display: none;
}
.setup input, #Set_update{
    border: rgb(105, 20, 180) solid 1px;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    color: rgb(105, 20, 180);
    opacity: 0.8;
    padding: 2px;
}
.setup p{
    font-size: 20px;
    font-weight: 500;
    border-top: dashed 2px;
}
#SetUp{
    border: none;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
}
.position_img input{
    opacity: 0.7;
    width: 95px;
}
.position_img{
    margin-bottom: 5px;
}
#picture_size{
    font-size: 12px;
    padding-bottom: 5px;
    border: none;
}
.banner label{
    background-color: white;
    border: solid 1px rgb(105, 20, 180);
    padding: 3px;
    border-radius: 10px;
}
#upload-name{
    text-align: center;
    overflow: hidden;
    padding: 2px;
    width: 250px;
    height: 22px;
}
h1{
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 45px;
    margin: 0;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: rgb(105, 20, 180) solid 2px;
    background-image: url(cover.jpg);
    background-size: 1000px 132px;
    background-position: center;
    margin-bottom: -15px;
}
p{
    margin: 0;
    padding: 3px;
}
.menu_s{
    display: none;
}
.menu_s p{
    background-color: white;
    border-bottom: rgb(105, 20, 180) solid 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    padding-top: 15px;
    margin-bottom: -15px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
#Write{
    z-index: 8;
}
#Memory{
    z-index: 7;
}
#OnlyPicture{
    z-index: 6;
}
#OnlyWriting{
    z-index: 5;
}
#Picture_n_Writing{
    z-index: 4;
}
#Remember{
    z-index: 3;
}
#Memo{
    z-index: 2;
}
#To_Do{
    z-index: 1;
}
#Menu{
    position: relative;
    z-index: 0;
    padding-top: 18px;
    background-color: #e7d4ff;
    border: none;
    border-bottom: rgb(105, 20, 180) solid 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    color:rgb(140, 45, 225);
    width: 100%;
}
.Memory{
    display: none;
}
.Remember{
    display: none;
}
.Memory p, .Remember p{
    font-size: 15px;
    font-weight: 500;
    border-bottom: #b088ec solid 2px;
    background-color: #f9f3ff;
}
.screen{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.screen_grid{
    display: grid;
    grid-template-columns: 60% 1fr;
}
@media(max-width:700px) {
    .screen_grid{
        display: grid;
        grid-template-columns: none;
    }
}
.screen_grid_2{
    display: grid;
    grid-template-rows: 50% 1fr;
}
h2{
    margin: 0;
    display: inline;
    border-bottom: solid 2px;
    border-right: solid 1px;
    padding: 7px;
    border-bottom-right-radius: 10px;
}
.Calender, .Memo, .To_Do{
    display: block;
    border: solid rgb(105, 20, 180) 2px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    overflow: hidden;
}
.Write, .OnlyPicture,.OnlyWriting{
    display: none;
    border: solid rgb(105, 20, 180) 2px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    overflow: hidden;
}
#calender, #memo, #to_do, #write, #picture, #writing{
    margin: 15px;
}

#reserved{
    background-color: #b088ec;
    color: white;
    font-size: 11px;
    padding: 6px;
}
/* hover */
#Set_update:hover{
    opacity: 1;
    border: 2px solid ;
}
.position_img input:hover{
    opacity: 1;
    border: 2px solid ;
}
.banner label:hover{
    opacity: 1;
    border: 2px solid ;
}
#Write:hover{
    padding-top: 20px;
    margin-bottom: -20px;
}
#Memory:hover{
    padding-top: 20px;
    margin-bottom: -20px;
}
#OnlyPicture:hover{
    padding-top: 20px;
    margin-bottom: -20px;
}
#OnlyWriting:hover{
    padding-top: 20px;
    margin-bottom: -20px;
}
#Picture_n_Writing:hover{
    padding-top: 20px;
    margin-bottom: -20px;
}
#Remember:hover{
    padding-top: 20px;
    margin-bottom: -20px;
}
#Memo:hover{
    padding-top: 20px;
    margin-bottom: -20px;
}
#To_Do:hover{
    padding-top: 20px;
    margin-bottom: -20px;
}