body{
    margin: 0;
    color: blueviolet;
    background-color: rgb(255, 235, 245);
}
input{
    border: 2px solid blueviolet;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
p{
    margin: 0;
}
button{
    border: 2px solid blueviolet;
    border-radius: 10px;
    background-color: white;
    color: blueviolet;
}
h1{
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding-bottom: 50px;
    border-bottom: solid 2px blueviolet;
}
.top_cover{
    background-image: url(cover.jpg);
    background-repeat: no-repeat;
    background-size:  1920px 163px;
    background-position: center;
}
#ststem_button{
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.All_system{
    position: absolute;
    left: 40px;
    top: 33px;
    display: none;
    border: solid blueviolet;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    border-top-left-radius: 0;
}
.color_system{
    display: none;
}
.screen_system{
    display: none;
}
.back_picture_system{
    display: none;
}
#screen_board_1{
    opacity: 0.5;
}
#screen_board_1:hover{
    opacity: 1;
    cursor: pointer;
}
#screen_board_2{
    opacity: 0.5;
}
#screen_board_2:hover{
    opacity: 1;
    cursor: pointer;
}
#screen_board_3{
    opacity: 0.5;
}
#screen_board_3:hover{
    opacity: 1;
    cursor: pointer;
}
.All_menu{
    text-align: center;
    display: none;
    border-right: solid blueviolet 2px;
    border-left: solid blueviolet 2px;
    background-color: white;
    width: 200px;
}
.remember{
    display: none;
}
#file_collecter{
    width: 240px;
}
#menu_button_small{
    display: none;
}
#menu_button_big{
    display: inline;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.grid{
    display: grid;
    grid-template-columns: 202px 30px 1fr;
    height: 82.3vh;
}
#screen_color_button, #screen_split_button, #picture_change_button{
    border-top: dashed 2px blueviolet;
    margin: 0;
}
#Calendar, #Diary, #Memo, #Dolist, #Remember_button{
    border-bottom: dashed 2px blueviolet;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 17px;
    padding: 3px;
}
#only_picture, #only_string{
    border-bottom: dotted 2px blueviolet;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    padding: 1px;
    background-color: rgba(235, 215, 255, 0.6);
}
#all_see{
    border-bottom: dashed 2px blueviolet;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    padding: 1px;
    background-color: rgba(235, 215, 255, 0.6)
}