{% extends "1grade.html" %}

{% block firstclass %}
<!-- 메모 생성 영역 -->
<form action="" method="post">
    <h2 align="center">Note</h2>
    <div class="form-floating">
        <input name="note-title" type="text" class="form-control" id="note-title" placeholder="Title">
        <label for="note-title">Title</label>
    </div>
    <div class="form-floating">
        <textarea name="note-content" class="form-control" placeholder="Content" id="note-content"></textarea>
        <label for="note-content">Content</label>
    </div>
    <button type="submit" class="btn btn-primary">메모 저장</button>
</form>

<!-- 메모 조회 영역 -->
<div class="list-group">
    {% for i in Note %}
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2">{{i.title}}</h5>
          <small class="text-muted">{{i.content}}</small>
        </div>
        <p class="mb-1">{{i.datetime}}</p>

        <!-- 메모 삭제 버튼 -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="button" onclick="showUpdateNoteModal({{i.id}})">수정</button>
            <button class="btn btn-primary" type="button" onclick="deleteNote({{i.id}})">삭제</button>
        </div>

    </a>  
    {% endfor %}
</div>
{% endblock %}